---
interface Props {
  text: string;
  href: string;
}
const { href, text } = Astro.props as Props;
---

<a
  href={href}
  target="_blank"
  rel="noopener noreferrer"
  class="from-ziggurat to-smokey-pink font-heading group highlight relative inline-block w-fit cursor-pointer overflow-hidden rounded-full bg-radial-[at_50%_80%] px-7 py-2 text-lg font-medium text-white uppercase"
>
  <span class="invisible">{text}</span>
  <span
    class="absolute inset-0 flex -translate-y-full items-center justify-center font-medium transition-transform duration-300 group-hover:translate-y-0"
  >
    {text}
  </span>
  <span
    class="absolute inset-0 flex translate-y-0 items-center justify-center font-medium transition-transform duration-300 group-hover:translate-y-full"
  >
    {text}
  </span>
</a>
