---
interface Props {
  grainOpacity?: number;
  class?: string;
  gradientOpacity?: number;
}
const {
  grainOpacity = 0.8,
  gradientOpacity = 1,
  class: className,
} = Astro.props as Props;
---

<!-- <div
  class:list={["grain absolute inset-0 z-1", className]}
  style={{
    "--grain-opacity": grainOpacity,
  }}
>
</div> -->
<div
  class:list={["gradient absolute inset-0 z-2", className]}
  style={{
    "--gradient-opacity": gradientOpacity,
  }}
>
</div>

<style>
  .grain {
    mix-blend-mode: multiply;
  }
  .grain::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 1;
    background-image: var(--grain-texture);
    background-repeat: repeat;
    background-size: 150px;
    opacity: var(--grain-opacity);
  }

  .gradient {
    background: var(--brand-gradient);
    mix-blend-mode: color;
    pointer-events: none;
    opacity: var(--gradient-opacity); /* Use the CSS variable directly */
  }
</style>
