---
interface Props {
  href: string;
  isChild?: boolean;
}

const { href, isChild = false } = Astro.props;
---

<a
  href={href}
  class:list={[
    "font-heading hover:text-smokey-pink border-brand-gray/10 block border-b font-medium uppercase transition-colors",
    isChild
      ? "text-brand-gray/50 px-6 py-3 text-sm"
      : "text-brand-gray/70 px-6 py-4 text-base",
  ]}
>
  <slot />
</a>
