---
import RootLayout from "src/layouts/root.astro";
import Navbar from "src/components/navbar.astro";
import Hero from "src/components/hero.astro";
import Footer from "src/components/footer.astro";
import Heading from "@repo/ui/components/heading.astro";
import TreatmentGrid from "src/components/treatment-grid.astro";
import ImageTextSection from "src/components/image-text-section.astro";
import ScheduleButton from "src/components/schedule-button.astro";
import WhyUs from "src/components/why-us.astro";
import FadeIn from "@repo/ui/components/fade-in.astro";
import InfoCard from "src/components/info-card.astro";

const cards = [
  {
    title: "¿Por qué le ocurre esto a mi cuerpo?",
    bg: "bg-radial-[at_100%_0%]",
    content: [
      {
        text: "La endometriosis y la adenomiosis son enfermedades inflamatorias crónicas.",
      },
      {
        text: "En la endometriosis, el tejido que normalmente recubre el interior del útero crece fuera de él (en ovarios, trompas o cavidad abdominal). En la adenomiosis, ese mismo tejido invade la musculatura del útero.",
      },
      {
        text: "Ambas están relacionadas con desequilibrios metabólicos, alteración del cortisol (estrés crónico), picos de insulina, inflamación celular y ciclos hormonales desordenados.",
      },
      {
        text: "No son solo ginecológicas. Son sistémicas.",
        bold: true,
      },
    ],
    centered: true,
  },
  {
    title: "¿Qué síntomas puede causar?",
    bg: "bg-radial-[at_50%_50%]",
    content: [
      "Dolor pélvico crónico (antes o durante la menstruación)",
      "Reglas abundantes, coágulos o sangrado prolongado",
      "Dolor en relaciones sexuales",
      "Inflamación abdominal constante",
      "Fatiga persistente",
      "Dificultad para concebir",
      "Cambios de ánimo o síntomas similares a desequilibrios tiroideos",
    ],
    isList: true,
  },
  {
    title: "¿Cuáles son las causas de la endometriosis?",
    bg: "bg-radial-[at_0%_100%]",
    content: [
      {
        text: "La causa exacta aún se desconoce, pero existen varias teorías. Una de ellas plantea que parte del flujo menstrual regresa por las trompas hacia el abdomen donde algunas células endometriales se implantan en otros órganos. También se considera un posible fallo del sistema inmune, que no logra eliminar esas células fuera de lugar.",
      },
      {
        text: "Además, hay evidencia de un posible componente hereditario, ya que suele presentarse en varias mujeres de una misma familia.",
      },
    ],
  },
];
---

<RootLayout>
  <Navbar />
  <Hero
    title="El dolor no es normal. Tu salud merece respuestas"
    alt="Endometriosis"
    images={[
      {
        size: "sm",
        src: "/hero/17-sm.webp",
      },
      {
        size: "md",
        src: "/hero/17-md.webp",
      },
      {
        size: "lg",
        src: "/hero/17.webp",
      },
    ]}
  />
  <section
    class="mx-auto flex max-w-7xl flex-col items-start justify-center gap-6 px-4 py-20 sm:items-center"
  >
    <Heading
      level={2}
      className="text-brand-gray font-medium text-pretty sm:text-center"
      text="Endometriosis y Adenomiosis"
    />
    <p
      class="text-brand-gray font-body text-lg leading-relaxed sm:max-w-3/5 sm:text-center"
    >
      El tratamiento integral para endometriosis y adenomiosis de HI FEM CARE
      está diseñado para mujeres que viven con dolor menstrual intenso,
      inflamación pélvica, fatiga o dificultades para embarazarse.
    </p>
    <p
      class="text-brand-gray font-body text-lg leading-relaxed sm:max-w-3/5 sm:text-center"
    >
      No solo tratamos los síntomas si no que abordamos las causas hormonales,
      inflamatorias y metabólicas que activan y agravan la enfermedad.
    </p>
  </section>
  <section
    class="mx-auto flex max-w-7xl flex-col items-center justify-center gap-12 px-4 py-20 sm:py-6"
  >
    <div class="flex flex-col flex-wrap gap-6 md:flex-row">
      {
        cards.map((card, i) => (
          <FadeIn duration={1} delay={i * 0.1} class="flex flex-1">
            <InfoCard {...card} />
          </FadeIn>
        ))
      }
    </div>
  </section>
  <section
    class="mx-auto flex max-w-7xl flex-col items-center justify-center gap-6 px-4 py-20"
  >
    <TreatmentGrid
      heading="¿Cómo lo tratamos en HI FEM CARE?"
      treatments={[
        {
          title: "Diagnóstico avanzado y funcional",
          description:
            "Evaluamos tus hormonas, inflamación, metabolismo y realizamos ecografías ginecológicas 2D y 3D.",
        },
        {
          title: "Tratamiento metabólico y hormonal",
          description:
            "Plan alimenticio, suplementos y regulación hormonal personalizada sin anticonceptivos.",
        },
        {
          title: "Cirugía intrauterina (si aplica)",
          description:
            "Procedimiento ambulatorio, sin cortes ni hospitalización, con recuperación en menos de 72 horas.",
        },
      ]}
    />
  </section>
  <ImageTextSection
    imageSrc="/hero/12.webp"
    imageAlt="Beneficios del tratamiento de endometriosis"
    imagePosition="right"
  >
    <div class="flex flex-col items-center gap-4 pb-10 sm:items-start">
      <Heading
        level={3}
        className="text-brand-gray font-heading font-medium"
        text="Beneficios de nuestro enfoque"
      />
      <ul
        class="text-brand-gray font-heading list-inside list-disc space-y-4 text-lg"
      >
        <li>
          El 80% de los casos de endometriosis se pueden tratar sin cirugía
          abdominal si se diagnostican a tiempo.
        </li>
        <li>
          El enfoque metabólico y hormonal detiene la progresión de la
          enfermedad, reduce el dolor y mejora la fertilidad.
        </li>
      </ul>
    </div>
  </ImageTextSection>

  <ImageTextSection
    imageSrc="/hero/14.webp"
    imageAlt="Información sobre la endometriosis"
    imagePosition="left"
  >
    <div class="flex flex-col items-center gap-4 pb-10 sm:items-start">
      <Heading
        level={3}
        className="text-brand-gray font-heading font-medium"
        text="Información que debes saber"
      />
      <ul
        class="text-brand-gray font-heading list-inside list-disc space-y-4 text-lg"
      >
        <li>
          HI FEM CARE ha desarrollado un protocolo único con base en más de 14
          años de estudio clínico y evidencia funcional.
        </li>
        <li>
          El tratamiento mejora calidad de vida, salud mental, estado físico y
          energía general.
        </li>
      </ul>
      <div class="mt-4">
        <ScheduleButton text="¡Agenda tu cita hoy!" />
      </div>
    </div>
  </ImageTextSection>
  <WhyUs
    backgroundImage="/why-femcare.webp"
    backgroundImageAlt="Why Hi Fem Care"
    heading="¿Por qué Hi Fem Care es tu mejor opción?"
    valueCards={[
      {
        title: "Medicina moderna que realmente funciona.",
        description: [
          "No tratamos síntomas.",
          "Tratamos causas.",
          'En Hi Fem Care no damos "soluciones rápidas".',
          "Te escuchamos, entendemos tu historial y trabajamos desde el origen del problema: hormonal, funcional o emocional.",
          "Nuestro objetivo es ayudarte a recuperar tu equilibrio de forma real y sostenible.",
        ],
      },
      {
        title: "Médicos y especialistas que saben cómo cuidarte.",
        description: [
          "Nuestro equipo tiene décadas de experiencia en salud femenina, ginecología avanzada y regeneración íntima.",
          "Sabemos lo que tu cuerpo atraviesa y cómo acompañarte para que te sientas bien otra vez.",
        ],
      },
      {
        title: "Tecnología moderna, precisa y no invasiva.",
        description: [
          "Somos pioneros en Guatemala en el uso de tratamientos como MonaLisa Touch®, UltraClear® y Pelvicenter®.",
          "Tecnología diseñada para prevenir, regenerar y mejorar tu salud íntima sin dolor, sin cirugía y con resultados naturales.",
        ],
      },
    ]}
  />
  <Footer />
</RootLayout>
