---
import AgendaEvaluation from "src/components/agenda-evaluation.astro";
import Footer from "src/components/footer.astro";
import Hero from "src/components/hero.astro";
import Navbar from "src/components/navbar.astro";
import WhyUs from "src/components/why-us.astro";
import RootLayout from "../layouts/root.astro";
---

<RootLayout>
  <Navbar />
  <Hero
    alt="Initia Hero Image"
    images={[
      { size: "sm", src: "/temp/landing-sm.webp" },
      { size: "md", src: "/temp/landing-md.webp" },
      { size: "lg", src: "/temp/landing.webp" },
    ]}
    revealSlides={true}
  >
    Un comienzo posible.<br />
    Una oportunidad real.<br />
    Una famili<span class="alt">a</span> en camino.
  </Hero>
  <WhyUs
    backgroundImage="/temp/porque.webp"
    backgroundImageAlt="¿Por qué Initia es tu mejor opción?"
    heading="Por qué Initia es tu mejor opción"
    valueCards={[
      {
        title: "Honestidad desde el primer día.",
        description: [
          "En fertilidad no hay garantías, y decir la verdad es respeto.",
          "Te explicamos tus probabilidades, los intentos que podrías necesitar y tus opciones. Sin promesas irreales ni tratamientos innecesarios.",
          "Información clara y acompañamiento humano para decidir con tranquilidad.",
        ],
      },
      {
        title: "Tecnología de primer nivel, a un costo accesible.",
        description: [
          "Creamos un laboratorio de fertilización in vitro con tecnología de última generación y estándares internacionales.",
          "Además, reducimos hasta un 50% del costo profesional del tratamiento.",
          "Así, más parejas acceden a la misma calidad sin que el precio sea la principal barrera.",
        ],
      },
      {
        title: "Un enfoque que prioriza tu salud y tus posibilidades.",
        description: [
          "Tenemos experiencia logrando embarazos naturales, con tasas comparables a centros de in vitro.",
          "Esto nos permite preparar mejor a cada paciente antes del tratamiento y aumentar las probabilidades de éxito.",
          "Buscamos que tengas la mejor oportunidad de ser mamá.",
        ],
      },
    ]}
  />
  <AgendaEvaluation />
  <Footer />
</RootLayout>
