@import "@repo/ui/theme.css";

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --spring-easing: cubic-bezier(0.25, 0.1, 0.25, 1);
  --spring-duration: 1s;

  @supports (animation-timing-function: linear(0, 1)) {
    --spring-easing: linear(
      0,
      0.005,
      0.02 2.1%,
      0.081 4.7%,
      0.467 15.7%,
      0.563,
      0.645,
      0.717,
      0.778 28.5%,
      0.829 32%,
      0.872 35.8%,
      0.909 40.1%,
      0.938 44.9%,
      0.961 50.3%,
      0.977 56.5%,
      0.987 63.6%,
      0.994 72.3%,
      1
    );
  }
}

h2.heading-custom-styles {
  font-size: 40px;
  color: var(--color-brand-gray);
}

@media (min-width: 640px) {
  h2.heading-custom-styles {
    font-size: 40px;
  }
}
