@import "@repo/ui/theme.css";

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --spring-easing: cubic-bezier(0.25, 0.1, 0.25, 1);
  --spring-duration: 1s;

  --grain-texture: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 600 600'%3E%3Cfilter id='a'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23a)'/%3E%3C/svg%3E");
  --brand-gradient: linear-gradient(
    to bottom right,
    var(--color-ziggurat),
    var(--color-smokey-pink)
  );

  @supports (animation-timing-function: linear(0, 1)) {
    --spring-easing: linear(
      0,
      0.005,
      0.02 2.1%,
      0.081 4.7%,
      0.467 15.7%,
      0.563,
      0.645,
      0.717,
      0.778 28.5%,
      0.829 32%,
      0.872 35.8%,
      0.909 40.1%,
      0.938 44.9%,
      0.961 50.3%,
      0.977 56.5%,
      0.987 63.6%,
      0.994 72.3%,
      1
    );
  }
}

.highlight {
  position: relative;
  &::after,
  &::before {
    content: "";
    position: absolute;
    inset: -1px;
    border-radius: inherit;
  }

  &::after {
    mix-blend-mode: plus-lighter;
    box-shadow: inset 1px 1px 2px 0 hsl(0 0% 100% / 0.7),
      inset -1px -1px 2px 0 hsl(0 0% 100% / 0.35),
      inset 0 0 0 1px hsl(0 0% 100% / 0.4);
    transition: box-shadow 0.4s ease-out;
  }
}

.grain::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 1;

  background-image: var(--grain-texture);
  background-repeat: repeat;
  background-size: 150px;
  opacity: 0.4;
}
