---
import "../styles/global.css";
import ChatFab from "../components/chat-fab.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, viewport-fit=cover"
    />
    <meta name="generator" content={Astro.generator} />
    <title>HI Fem Care</title>
  </head>
  <body class="selection:bg-ziggurat/30 relative bg-white">
    <ChatFab />
    <slot />
  </body>
</html>
