---
import FadeIn from "./fade-in";
import FounderIntroStickyImage from "./founder-intro-sticky-image";
---

<section class="relative">
  <FounderIntroStickyImage client:load />

  <div class="relative z-10 bg-white px-6 lg:pt-20">
    <div class="max-w-desktop mx-auto">
      <FadeIn client:visible as="div" className="flex">
        <h2
          class="mt-4 max-w-5xl text-(length:--step-5)/12 font-[550] tracking-tighter text-balance text-neutral-800 md:text-(length:--step-5)/14"
        >
          Entendemos tu cuerpo antes de intentar cambiarlo.
        </h2>
      </FadeIn>

      <div
        class="relative mt-16 grid gap-4 lg:grid-cols-[1.3fr_1.2fr] lg:items-start"
      >
        <!-- <div
          class="from-brand-dark-blue via-brand-blue to-brand-blue absolute top-1/2 right-[calc(50%-50dvw)] left-[calc(50%-50dvw)] hidden h-[20rem] -translate-y-1/2 bg-linear-to-r via-20% lg:block"
          aria-hidden="true"
        >
        </div> -->

        <FadeIn client:visible disableBlur className="relative mx-auto w-full">
          <div class="relative flex min-h-96 items-center justify-start">
            <!-- <div
              class="bg-brand-blue absolute right-0 bottom-0 z-40 flex w-full flex-col items-end justify-center gap-4 px-3 py-4 text-white"
            >
              <p class="text-(length:--step-2)/4 font-[550] tracking-tight">
                Herbert Miranda
              </p>
              <p class="text-(length:--step--1)/2">Fundador</p>
            </div> -->
            <img
              src="/assets/herbert.webp"
              alt="Dr. Herbert Maradiaga"
              class="relative z-10 aspect-5/3 w-full max-w-sm object-cover object-center shadow-neutral-950/15 lg:max-w-none"
              loading="lazy"
            />
          </div>
        </FadeIn>

        <div
          class="from-brand-green to-brand-blue sticky top-19 border-y-2 border-y-neutral-700 bg-linear-to-r text-neutral-700 lg:bg-none lg:p-0"
        >
          <div class="grid pl-2 md:grid-cols-3 lg:grid-cols-2">
            <FadeIn
              client:visible
              as="p"
              delay={0.1}
              className="text-(length:--step-0)/8 text-balance text-neutral-700"
            >
              <span class="text-(length:--step-0)/8 font-semibold"
                >Desde 2010</span
              > somos expertos en metabolismo, equilibrio hormonal y bienestar integral.
              Hemos construido clínicas especializadas donde la experiencia médica
              y la tecnología avanzada trabajan para una sola meta:
              <span class="mt-2 block text-(length:--step-0)/8 font-semibold">
                Que te sientas mejor que nunca.
              </span>
            </FadeIn>

            <FadeIn
              client:visible
              as="p"
              delay={0.26}
              className="text-(length:--step-0)/8 text-balance"
            >
              Por eso nuestro lema es <br />
              <span class="text-(length:--step-0)/8 font-semibold">
                Feel Better Than Ever
              </span>

              <br /> No es solo un slogan. <br /> Es una promesa. <br /> Significa
              ir más allá de tratar síntomas. <br /> Significa ayudarte a recuperar
              energía, control, confianza y calidad de vida.
            </FadeIn>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
