---
import FadeIn from "./fade-in";
import FounderIntroStickyImage from "./founder-intro-sticky-image";
---

<section class="relative">
  <FounderIntroStickyImage client:load />

  <div
    class="bg-brand-blue relative z-10 grid min-h-svh items-center p-4 text-white lg:p-8"
  >
    <div class="mx-auto">
      <FadeIn client:visible as="div" className="flex flex-col gap-1">
        <h2
          class="max-w-5xl text-(length:--step-5)/12 font-medium tracking-tighter text-balance md:text-(length:--step-5)/14"
        >
          Entendemos tu cuerpo antes de intentar cambiarlo.
        </h2>
      </FadeIn>

      <div
        class="relative mt-10 grid gap-8 lg:items-start xl:grid-cols-[1.15fr_1fr]"
      >
        <!-- <div
          class="from-brand-dark-blue via-brand-blue to-brand-blue absolute top-1/2 right-[calc(50%-50dvw)] left-[calc(50%-50dvw)] hidden h-[20rem] -translate-y-1/2 bg-linear-to-r via-20% lg:block"
          aria-hidden="true"
        >
        </div> -->

        <FadeIn client:visible disableBlur className="relative mx-auto w-full">
          <div class="group relative flex min-h-96 items-center justify-start">
            <!-- <div
              class="bg-brand-blue absolute right-0 bottom-0 z-40 flex w-full flex-col items-end justify-center gap-4 px-3 py-4 text-white"
            >
              <p class="text-(length:--step-2)/4 font-[550] tracking-tight">
                Herbert Miranda
              </p>
              <p class="text-(length:--step--1)/2">Fundador</p>
            </div> -->
            <img
              src="/assets/herbert.webp"
              alt="Dr. Herbert Maradiaga"
              class="relative z-10 aspect-5/3 w-full max-w-none object-cover object-center"
              loading="lazy"
            />
          </div>
        </FadeIn>

        <div class="lg:bg-none lg:p-0">
          <div class="grid gap-2 lg:grid-cols-2 lg:gap-8">
            <FadeIn
              client:visible
              as="p"
              delay={0.2}
              className="text-(length:--step-0)/8 text-pretty"
            >
              <span class="text-(length:--step-0)/8 font-semibold"
                >Desde 2010</span
              > somos expertos en metabolismo, equilibrio hormonal y bienestar integral.
              Hemos construido clínicas especializadas donde la experiencia médica
              y la tecnología avanzada trabajan para una sola meta:
              <span class="mt-2 block text-(length:--step-0)/8 font-semibold">
                Que te sientas mejor que nunca.
              </span>
            </FadeIn>

            <FadeIn
              client:visible
              as="p"
              delay={0.35}
              className="text-(length:--step-0)/8 text-pretty xl:max-w-[30ch]"
            >
              Por eso nuestro lema es
              <span class="block font-semibold"> Feel Better Than Ever </span>

              No es solo un slogan. Es una promesa. Significa ir más allá de
              tratar síntomas. Significa ayudarte a recuperar energía, control,
              confianza y calidad de vida.
            </FadeIn>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
