---
import type { delay } from "framer-motion";
import FadeIn from "./fade-in";
import MetabolicSignalScroller from "./metabolic-signal-scroller";

const signals = [
  {
    text: 'Te cuesta bajar de peso aunque "comes bien".',
    description:
      "Puede haber señales metabólicas u hormonales que no se resuelven solo con dieta.",
    image: "/hi-test.png",
  },
  {
    text: "Te sientes cansada(o) sin razón alguna.",
    description:
      "La energía baja constante puede ser una pista de desbalance interno.",
    image: "/hi-test.png",
  },
  {
    text: "Tu ciclo es irregular o doloroso.",
    description:
      "Tu ciclo también habla de inflamación, estrés y salud hormonal.",
    image: "/hi-test.png",
  },
  {
    text: "Te ha costado embarazarte.",
    description:
      "Entender tus hormonas y metabolismo puede abrir nuevas respuestas.",
    image: "/hi-test.png",
  },
  {
    text: "Tienes ansiedad por azúcar o carbohidratos.",
    description:
      "No siempre es falta de voluntad; puede estar relacionado con glucosa e insulina.",
    image: "/hi-test.png",
  },
  {
    text: "Sientes que tu cuerpo cambió, y no sabes por qué.",
    description:
      "Cuando algo se siente distinto, vale la pena investigarlo con datos claros.",
    image: "/hi-test.png",
  },
];
---

<section class="bg-neutral-100">
  <div class="mx-auto px-6 text-left">
    <FadeIn client:visible as="div">
      <h2
        class="mx-auto pt-30 pb-10 text-(length:--step-5)/12 font-[550] tracking-tighter text-balance text-neutral-700 md:text-(length:--step-5)/16"
      >
        Tal vez te está pasando esto
      </h2>

      <p class="mx-auto text-(length:--step-0)/8 text-neutral-600"></p>
    </FadeIn>
  </div>

  <FadeIn client:visible as="div" delay={0.1}>
    <MetabolicSignalScroller client:visible signals={signals} />
  </FadeIn>

  <section
    class="min-h-xl flex flex-col items-center justify-center gap-20 px-6 py-30"
  >
    <div class="flex gap-4">
      <img src="/assets/logo-single.svg" class="w-12" />
      <FadeIn
        client:visible
        as="div"
        className="flex h-full flex-col items-start gap-12 md:flex-row md:items-end md:justify-between md:gap-16"
      >
        <p
          class="text- text-(length:--step-1)/[1.05] font-medium tracking-tight text-neutral-600 md:text-(length:--step-1)/[1.05]"
        >
          No es normal.<br /><span
            class="text-(length:--step-5) font-[550] text-neutral-700"
            >Y no tienes que vivir así.</span
          >
        </p>
      </FadeIn>
    </div>
    <a
      href="/contacto"
      class="group inline-flex h-fit w-fit shrink-0 items-center gap-3 rounded-full bg-white px-6 py-2 text-(length:--step-0) font-[550] tracking-tight text-neutral-700 transition-colors duration-300 hover:bg-neutral-100"
    >
      <span>Conocer más</span>
    </a>
  </section>
</section>
