---
import FadeIn from "./fade-in";
import ScrollUnderline from "./scroll-underline";
---

<section class="my-20 bg-gray-50">
  <div class="mx-auto flex flex-col-reverse lg:grid lg:grid-cols-[1.2fr_1fr]">
    <div class="flex justify-end px-6 py-12 lg:py-20 lg:pr-12 lg:pl-10">
      <div class="w-full max-w-2xl self-center text-left">
        <FadeIn
          client:visible
          as="h2"
          className="text-left text-(length:--step-5)/12 font-semibold tracking-tighter text-balance text-neutral-950"
        >
          Tal vez te está pasando esto:
        </FadeIn>

        <FadeIn
          client:visible
          as="div"
          className="mt-8 text-(length:--step-0)/8 text-neutral-800"
          delay={0.1}
        >
          <ul class="marker:text-brand-blue list-disc space-y-2 pl-5">
            <li class="">Te cuesta bajar de peso aunque “comes bien”</li>
            <li class="">Te sientes cansada(o) sin razón alguna</li>
            <li class="">Tu ciclo es irregular o doloroso</li>
            <li class="">Te ha costado embarazarte</li>
            <li class="">Tienes ansiedad por azúcar o carbohidratos</li>
            <li class="">Sientes que tu cuerpo cambió... y no sabes por qué</li>
          </ul>

          <p class="mt-6 text-(length:--step-0)/8 font-medium text-neutral-950">
            No es normal. Y no tienes que vivir así.
          </p>
        </FadeIn>

        <FadeIn client:visible className="mt-8" delay={0.2}>
          <a
            href="/contacto"
            class="group bg-brand-blue inline-flex items-center justify-center gap-2 rounded-full bg-size-[200%_100%] bg-position-[0%_50%] py-1.5 pr-4 pl-5 text-(length:--step-0) font-medium text-white duration-500 ease-out"
          >
            <span>Conocer más</span>
            <svg
              class="size-5 shrink-0 transition-transform duration-300 ease-out group-hover:translate-x-0.5 group-hover:-translate-y-0.5"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              aria-hidden="true"
            >
              <path d="M7 17 17 7"></path>
              <path d="M8 7h9v9"></path>
            </svg>
          </a>
        </FadeIn>
      </div>
    </div>
    <FadeIn client:visible disableBlur={true}>
      <img
        src="/assets/talvez.jpg"
        alt="Persona pensando en síntomas de bienestar metabólico y hormonal"
        class="aspect-14/16 h-full w-3/5 scale-120 place-self-center border-8 border-white object-cover object-[80%_0%] lg:h-full"
        loading="lazy"
      />
    </FadeIn>
  </div>
</section>
