@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Space+Grotesk:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

@import "tailwindcss";

@source "./components";

@theme {
  --color-brand-gray: oklch(0.4917 0.0013 197.12);

  /* HI Femcare Brand Colors */
  --color-ziggurat: oklch(0.7035 0.0435 201.95);
  --color-smokey-pink: oklch(0.6849 0.0652 20.12);

  /* HI Skin & Beauty Brand Colors */
  --color-eggshell: oklch(0.9761 0 0);
  --color-iroko: oklch(0.3316 0.0445 58.5);
  --color-skin: oklch(0.6197 0.082 65.95);

  /* Initia Fertility Center Brand Colors */
  --color-initia: oklch(0.4823 0.0456 283.5); /* #68648F */
  --color-initia-blue: #527eaa;
  --color-initia-light: oklch(0.6023 0.0456 283.5);
  --color-initia-dark: oklch(0.3823 0.0456 283.5);

  --text-smaller: 0.8425rem;

  --font-heading: "Space Grotesk", sans-serif;
  --font-body: "Space Grotesk", sans-serif;

  --font-rubik: "Rubik", sans-serif;

  --container-8xl: 100rem; /* 1600px */

  /* Fluid typography */
  --step--2: clamp(0.6944rem, 0.6513rem + 0.1919vw, 0.8rem);
  --step--1: clamp(0.8333rem, 0.7652rem + 0.303vw, 1rem);
  --step-0: clamp(1rem, 0.8977rem + 0.4545vw, 1.25rem);
  --step-1: clamp(1.2rem, 1.0517rem + 0.6591vw, 1.5625rem);
  --step-2: clamp(1.44rem, 1.2301rem + 0.933vw, 1.9531rem);
  --step-3: clamp(1.728rem, 1.4362rem + 1.2971vw, 2.4414rem);
  --step-4: clamp(2.0736rem, 1.6734rem + 1.7785vw, 3.0518rem);
  --step-5: clamp(2.4883rem, 1.9457rem + 2.4116vw, 3.8147rem);
}
