---
import GlassixWidget from "../components/glassix-widget.astro";
import RevealSlides from "../components/reveal-slides";
import "../styles/global.css";

interface Props {
  title?: string;
  description?: string;
}

const {
  title = "HI Institute",
  description = "The new HI Institute website is being prepared.",
} = Astro.props;

const isRootPage = Astro.url.pathname === "/";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/assets/icons/favicons/favicon.svg"
    />
    <link rel="preconnect" href="https://rsms.me/" />
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />

    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link
      rel="icon"
      type="image/png"
      href="/assets/icons/favicons/favicon-96x96.png"
      sizes="96x96"
    />
    <link rel="shortcut icon" href="/assets/icons/favicons/favicon.ico" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/assets/icons/favicons/apple-touch-icon.png"
    />
    <meta name="apple-mobile-web-app-title" content="HI Institute" />
    <link rel="manifest" href="/site.webmanifest" />
  </head>
  <body class="font-grotesk text-neutral-800">
    {isRootPage && <RevealSlides client:load />}
    <div id="site-canvas">
      <slot />
    </div>
    <GlassixWidget />
  </body>
</html>
