@import url("/clash-grotesk/css/clash-grotesk.css");
@import url("/cabinet-grotesk/css/cabinet-grotesk.css");
@import url("/switzer/css/switzer.css");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Space+Grotesk:wght@300..700&display=swap");
@import "tailwindcss";

:root {
  color: #171412;
  font-feature-settings:
    "liga" 1,
    /* Standard ligatures */ "calt" 1,
    /* Contextual alternates */ "ss01" 1,
    /* Geometric open 'a' (Highly recommended for premium look) */ "ss03" 1,
    /* Geometric uppercase 'G' */ "cv08" 0; /* Lowercase 'f' alternate tail */

  /* Modern browsers also support the cleaner 'font-variant-numeric' for numbers */
  font-variant-numeric: tabular-nums; /* Makes numbers align perfectly in tables/grids */
}

@theme {
  --font-sans:
    "InterVariable", "Inter", ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", sans-serif;
  --font-grotesk: "Space Grotesk", monospaced;
  --font-clash:
    "ClashGrotesk-Variable", "ClashGrotesk-Regular", ui-sans-serif, system-ui,
    sans-serif;
  --font-cabinet:
    "CabinetGrotesk-Variable", "CabinetGrotesk-Regular", ui-sans-serif,
    system-ui, sans-serif;
  --font-switzer:
    "Switzer-Variable", "Switzer-Regular", ui-sans-serif, system-ui, sans-serif;

  --color-brand-blue: #1d75b8;
  --color-brand-green: #9ccd37;
  --color-brand-dark-green: #009848;
  --color-brand-dark-blue: #19639c;
  --color-brand-darker-blue: #0f3b5e;
  --color-brand-darker-green: #005b2b;

  --step--2: clamp(0.68rem, 0.6993rem + -0.0214vw, 0.6944rem);
  --step--1: clamp(0.8333rem, 0.8278rem + 0.0247vw, 0.85rem);
  --step-0: clamp(1rem, 0.9792rem + 0.0926vw, 1.0625rem);
  --step-1: clamp(1.2rem, 1.1573rem + 0.1898vw, 1.3281rem);
  --step-2: clamp(1.44rem, 1.3666rem + 0.3262vw, 1.6602rem);
  --step-3: clamp(1.728rem, 1.6123rem + 0.5144vw, 2.0752rem);
  --step-4: clamp(2.0736rem, 1.9001rem + 0.771vw, 2.594rem);
  --step-5: clamp(2.4883rem, 2.2369rem + 1.1173vw, 3.2425rem);
  --step-6: clamp(2.986rem, 2.6303rem + 1.5809vw, 4.0531rem);

  --breakpoint-tablet: 40rem;
  --breakpoint-laptop: 64rem;
  --container-desktop: 92rem;
}

html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
