---
import RootLayout from "../layouts/root.astro";
import Heading from "@repo/ui/components/heading.astro";
import FadeIn from "@repo/ui/components/fade-in.astro";
import RevealSlides from "@repo/ui/components/reveal-slides.astro";
import ServiceCard from "@repo/ui/components/service-card.astro";
import ValueCard from "src/components/value-card.astro";
import ParallaxImage from "src/components/parallax-image.astro";
import ScheduleButton from "src/components/schedule-button.astro";
import GrainTexture from "src/components/grain-texture.astro";
import Footer from "src/components/footer.astro";
import WhyUs from "src/components/why-us.astro";
import Navbar from "src/components/navbar.astro";
import Hero from "src/components/hero.astro";
---

<RootLayout>
  <!-- Navbar -->
  <Navbar />
  <Hero
    title="Cuidamos tu salud íntima con precisión y ciencia."
    alt="Hi Fem Care Hero Image"
    images={[
      {
        size: "sm",
        src: "/landing/hero-sm.webp",
      },
      {
        size: "lg",
        src: "/landing/hero-lg.webp",
      },
    ]}
  />
  <section class="bg-linear-to-b from-white from-20% to-neutral-200">
    <div class="mx-auto flex max-w-7xl flex-col gap-6 px-4 pt-20 sm:px-6">
      <FadeIn duration={1}>
        <Heading
          level={3}
          className="text-brand-gray font-heading sm:text-center"
          text="Cuidada. Precisa. Personal."
        />
        <Heading
          level={2}
          className="font-medium text-balance text-neutral-700/90 sm:text-center"
          text="En Hi Fem Care redefinimos la salud de la mujer"
        />
      </FadeIn>
      <FadeIn duration={1} delay={0.1}>
        <p
          class="text-brand-gray font-heading mx-auto text-lg leading-relaxed sm:max-w-3/5 sm:text-center"
        >
          Somos la única clínica creada exclusivamente para acompañar cada etapa
          de tu vida como mujer: tu bienestar hormonal, tu fertilidad, tu piso
          pélvico, tus cambios y los retos de la edad.
        </p>
      </FadeIn>
    </div>
    <div class="mx-auto w-full max-w-7xl py-20">
      <div
        class="service-grid flex flex-wrap justify-center gap-6 duration-700 sm:gap-2"
      >
        {
          [
            {
              name: "Ginecología",
              image: "/ginecologia.webp",
            },
            {
              name: "Virus del Papiloma Humano",
              image: "/virus-pailoma-humano.webp",
            },
            {
              name: "Endometriosis",
              image: "/endometriosis.webp",
            },
            {
              name: "Uroginecología",
              image: "/uroginecologia.webp",
            },
            {
              name: "Fem Care Total",
              image: "/fem-care-total.webp",
            },
          ].map((service, idx) => (
            <ServiceCard
              name={service.name}
              image={service.image}
              index={idx}
            />
          ))
        }
      </div>
    </div>
  </section>

  <WhyUs
    backgroundImage="/why-femcare.webp"
    backgroundImageAlt="Why Hi Fem Care"
    heading="¿Por qué Hi Fem Care es tu mejor opción?"
    valueCards={[
      {
        title: "Medicina moderna que realmente funciona.",
        description: [
          "No tratamos síntomas.",
          "Tratamos causas.",
          'En Hi Fem Care no damos "soluciones rápidas".',
          "Te escuchamos, entendemos tu historial y trabajamos desde el origen del problema: hormonal, funcional o emocional.",
          "Nuestro objetivo es ayudarte a recuperar tu equilibrio de forma real y sostenible.",
        ],
      },
      {
        title: "Médicos y especialistas que saben cómo cuidarte.",
        description: [
          "Nuestro equipo tiene décadas de experiencia en salud femenina, ginecología avanzada y regeneración íntima.",
          "Sabemos lo que tu cuerpo atraviesa y cómo acompañarte para que te sientas bien otra vez.",
        ],
      },
      {
        title: "Tecnología moderna, precisa y no invasiva.",
        description: [
          "Somos pioneros en Guatemala en el uso de tratamientos como MonaLisa Touch®, UltraClear® y Pelvicenter®.",
          "Tecnología diseñada para prevenir, regenerar y mejorar tu salud íntima sin dolor, sin cirugía y con resultados naturales.",
        ],
      },
    ]}
  />
  <Footer />
</RootLayout>
