---
import RootLayout from "../layouts/root.astro";
import Heading from "@repo/ui/components/heading.astro";
import FadeIn from "@repo/ui/components/fade-in.astro";
import RevealSlides from "@repo/ui/components/reveal-slides.astro";
import ServiceCard from "@repo/ui/components/service-card.astro";
import ValueCard from "src/components/value-card.astro";
import ParallaxImage from "src/components/parallax-image.astro";
import ScheduleButton from "src/components/schedule-button.astro";
import GrainTexture from "src/components/grain-texture.astro";
import Footer from "src/components/footer.astro";
import WhyUs from "src/components/why-us.astro";
import Navbar from "src/components/navbar.astro";
---

<RootLayout>
  <!-- Navbar -->
  <Navbar />

  <section
    class="w-full bg-black overflow-hidden h-dvh relative flex flex-col items-center md:justify-center justify-end"
  >
    <div
      class="w-full flex flex-col gap-6 z-10 max-w-7xl px-4 pb-20 md:pb-0 md:pt-30 mx-auto"
    >
      <FadeIn duration={1}>
        <Heading
          text="Cuidamos tu salud íntima con precisión y ciencia."
          className=" max-w-3/4 font-medium text-white text-balance  text-shadow-sm"
          level={1}
        />
      </FadeIn>
      <FadeIn duration={1} delay={0.1}>
        <ScheduleButton
          href="https://calendly.com/hi-fem-care/agenda-cita"
          text="Agenda tu cita ahora"
        />
      </FadeIn>
    </div>
    <ParallaxImage yPercent={20}>
      <picture>
        <source srcset="/landing/hero-sm.webp" media="(max-width: 767px)" />
        <source srcset="/landing/hero-lg.webp" media="(min-width: 768px)" />
        <img
          alt="Hi Fem Care Hero Image"
          class="h-full w-full object-cover object-center absolute inset-0 scale-110 z-0"
        />
      </picture>
    </ParallaxImage>
    <GrainTexture />
    <RevealSlides
      duration={0.75}
      colors={["bg-black", "bg-brand-gray", "bg-smokey-pink"]}
    />
  </section>

  <section class="bg-linear-to-b from-white from-20% to-neutral-200">
    <div class="px-4 sm:px-6 pt-20 flex flex-col gap-6 max-w-7xl mx-auto">
      <FadeIn duration={1}>
        <Heading
          level={3}
          className="text-brand-gray font-heading sm:text-center"
          text="Cuidada. Precisa. Personal."
        />
        <Heading
          level={2}
          className="text-neutral-700/90 font-medium text-balance sm:text-center"
          text="En Hi Fem Care redefinimos la salud de la mujer"
        />
      </FadeIn>
      <FadeIn duration={1} delay={0.1}>
        <p
          class="text-brand-gray text-lg font-heading leading-relaxed sm:text-center sm:max-w-3/5 mx-auto"
        >
          Somos la única clínica creada exclusivamente para acompañar cada etapa
          de tu vida como mujer: tu bienestar hormonal, tu fertilidad, tu piso
          pélvico, tus cambios y los retos de la edad.
        </p>
      </FadeIn>
    </div>
    <div class="w-full mx-auto py-20 max-w-7xl">
      <div
        class="flex flex-wrap gap-6 sm:gap-2 service-grid justify-center duration-700"
      >
        {
          [
            {
              name: "Ginecología",
              image: "/ginecologia.webp",
            },
            {
              name: "Virus del Papiloma Humano",
              image: "/virus-pailoma-humano.webp",
            },
            {
              name: "Endometriosis",
              image: "/endometriosis.webp",
            },
            {
              name: "Uroginecología",
              image: "/uroginecologia.webp",
            },
            {
              name: "Fem Care Total",
              image: "/fem-care-total.webp",
            },
          ].map((service, idx) => (
            <ServiceCard
              name={service.name}
              image={service.image}
              index={idx}
            />
          ))
        }
      </div>
    </div>
  </section>

  <WhyUs
    backgroundImage="/why-femcare.webp"
    backgroundImageAlt="Why Hi Fem Care"
    heading="¿Por qué Hi Fem Care es tu mejor opción?"
    valueCards={[
      {
        title: "Medicina moderna que realmente funciona.",
        description: [
          "No tratamos síntomas.",
          "Tratamos causas.",
          'En Hi Fem Care no damos "soluciones rápidas".',
          "Te escuchamos, entendemos tu historial y trabajamos desde el origen del problema: hormonal, funcional o emocional.",
          "Nuestro objetivo es ayudarte a recuperar tu equilibrio de forma real y sostenible.",
        ],
      },
      {
        title: "Médicos y especialistas que saben cómo cuidarte.",
        description: [
          "Nuestro equipo tiene décadas de experiencia en salud femenina, ginecología avanzada y regeneración íntima.",
          "Sabemos lo que tu cuerpo atraviesa y cómo acompañarte para que te sientas bien otra vez.",
        ],
      },
      {
        title: "Tecnología moderna, precisa y no invasiva.",
        description: [
          "Somos pioneros en Guatemala en el uso de tratamientos como MonaLisa Touch®, UltraClear® y Pelvicenter®.",
          "Tecnología diseñada para prevenir, regenerar y mejorar tu salud íntima sin dolor, sin cirugía y con resultados naturales.",
        ],
      },
    ]}
  />
  <Footer />
</RootLayout>
